@font-face {
  font-family: "iconfont"; /* Project id 2810289 */
  src: url('iconfont.woff2?t=1632853405376') format('woff2'),
       url('iconfont.woff?t=1632853405376') format('woff'),
       url('iconfont.ttf?t=1632853405376') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-ashbin:before {
  content: "\e665";
}

.icon-close:before {
  content: "\e668";
}

.icon-cut:before {
  content: "\e66a";
}

.icon-download:before {
  content: "\e66c";
}

.icon-good:before {
  content: "\e673";
}

.icon-menu:before {
  content: "\e677";
}

.icon-back:before {
  content: "\e667";
}

.icon-bad:before {
  content: "\e666";
}

.icon-liebiao5:before {
  content: "\e6e5";
}

